.card {
  width: 500px;
  height: 700px;
  text-align: center;
  background: linear-gradient(160deg, var(--secondary-color), var(--primary-color));
  color: var(--text-color);
  border-radius: 2.5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card footer {
  padding-bottom: 20px;
}

.card .subtitle {
  padding-top: 7px;
}

.description {
  width: 100%;
  text-align: left;
  padding: 0;
}