.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

body.light-theme .navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: var(--text-color);
  text-decoration: none;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.webLogo {
  width: 40px;
  height: auto;
  border: none;
}
