.navbar {
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dark-theme .nav-link svg {
  stroke: white !important;
}

.light-theme .nav-link svg {
  stroke: black !important;
}