.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transform: scale(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
}

.scroll-to-top-btn:hover {
  background-color: var(--secondary-color);
}

.scroll-to-top-btn.show {
  transform: scale(1);
}