@import url("../index.css");

.custom-btn {
  background: linear-gradient(135deg, var(--secondary-color), var(--tertiary-color));
  color: var(--text-color);
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
}

.custom-btn:hover {
  transform: scale(1.05);
}

.custom-btn:active {
  transform: scale(0.95);
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}