@import url("./index.css");

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

header {
  padding-bottom: 30px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  color: #ffffff;
  font-size: 48px;
}

.glow {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff;
}