@import url("./index.css");

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
  padding: 50px;
}

header {
  padding-bottom: 30px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}

.title {
  color: #ffffff;
  font-size: 48px;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 36px;
}

.glow {
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff, 0 0 1px #fff;
}

.glow-dark {
  text-shadow: 0 0 1px #444, 0 0 1px #444, 0 0 5px #444, 0 0 1px #444;
}