section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: left;
  padding: 50px;
}

header {
  padding-bottom: 30px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

.title {
  font-size: 36px;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 24px;
}

.glow {
  text-shadow: 0 0 1px var(--text-color), 0 0 1px var(--text-color), 0 0 5px var(--text-color), 0 0 1px var(--text-color);
}

.custom-btn {
  background: linear-gradient(135deg, var(--secondary-color), var(--tertiary-color));
  color: var(--text-color);
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  margin-right: 15px;
}

.custom-btn:hover {
  transform: scale(1.05);
}

.custom-btn:active {
  transform: scale(0.95);
}

.custom-btn.notransform {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.custom-btn.notransform:hover {
  transform: scale(1);
  background:var(--tertiary-color);
}

.custom-btn.notransform.extend {
  width: 150px;
}